@keyframes introOpacity {
    0% {
        opacity: 0;
    }
}
@keyframes introOpacity2 {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
}
@keyframes introSlide {
    0% {
        margin-left: -100vw;
        margin-top: -10vw;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}
@keyframes introSlide2 {
    0% {
        margin-left: 50vw;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}
@keyframes introSlide3 {
    0% {
        margin-left: -50vw;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}
@keyframes introSlide4 {
    0% {
        margin-left: 50vw;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    background-repeat: no-repeat !important;
}
*::-webkit-scrollbar {
    display: none;
}

input, button, label, textarea, select {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    transition: border-bottom 0.2s, border-left 0.2s;
}

textarea {
    height: 100%;
    padding: 5px;
    resize: none;
}

button {
    width: fit-content;
    font-size: 120%;
    font-weight: 500;
    border: none;
    margin-right: 5px;
}
button:hover {
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
    box-shadow: 0 0 0px 1000px rgb(20,20,20) inset;
}

h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}
h2 {
    opacity: 0.5;
    text-transform: uppercase;
    width: 100%;
    font-weight: 700;
    -webkit-mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
    mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1));
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
h4 {
    font-size: 20px;
    font-weight: 500;
}

.indicationsContainer {
    z-index: 10000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.indicationsContainer .swipeUpToDiscover {
    height: 5vh;
    width: 100%;
    position: absolute;
    top: 70vh;
    text-align: center;
    animation-name: introOpacity2;
    animation-duration: 6s;
}
.indicationsContainer .tapToAdd {
    height: 100vh;
    width: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s 2s;
    cursor: pointer;
}
.indicationsContainer .swipeLeftToDiscover {
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.securityDiv{
    height: 100%;
    width: 100px;
    flex-shrink: 0;
}

.arrowContainer {
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.arrowContainer:hover {
    cursor: pointer;
}
.arrowContainer-up {
    top: -2%;
}
.arrowContainer-up:hover > .arrow-up {
    margin-top: -1%;
    border-bottom: 10px solid rgba(247,231,206,1);
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid rgba(255,255,255,0.5);
    transition: border-botton 0.2s, margin-top 0.2s;
}
.arrow-up:hover {
    cursor: pointer;
    border-bottom: 10px solid rgba(247,231,206,1);
}

.arrowContainer-down {
    bottom: -2%;
}
.arrowContainer-down:hover > .arrow-down {
    margin-bottom: -1%;
    border-top: 10px solid rgba(247,231,206,1);
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid rgba(255,255,255,0.5);
    transition: border-top 0.2s, margin-bottom 0.2s;
}
.arrow-down:hover {
    cursor: pointer;
    border-top: 10px solid rgba(247,231,206,1);
}

.arrow-left {
    display: inline-block;
    margin-right: 10px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 

    border-right: 10px solid rgba(255,255,255,0.5); 
    transition: border-right 0.2s;
}
.arrow-left:hover {
    cursor: pointer;
    border-right: 10px solid rgba(247,231,206,1);
}

.App {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
.App.preIntro {
    pointer-events: none;
}

.logoContainer {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10000;
    height: 53px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.2s;
}
.logoContainer {
    cursor: pointer;
}
.logoContainer.intro {
    opacity: 0;
}

.menuContainer {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    height: 100vh;
    width: 35%;
    z-index: 6000;
    display: flex;
    flex-direction: row-reverse;
    transition: opacity 0.2s;
}
.menuContainer.focused {
    pointer-events: all;
}

.menuIconsContainer {
    height: 100%;
    width: 60px;
    z-index: 3000;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: absolute;
    right: 0%;
    transition: right 0.4s;
}
.menuIconsContainer.intro {
    right: -100%;
}
.menuIcon {
    height: 35px;
    width: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.25;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.menuIcon:hover {
    cursor: pointer;
}
#icon_0 {
    background-size: contain;
}
#icon_1 {
    background-size: contain;
}
#icon_2 {
    background-size: contain;
}

.menuContent {
    z-index: 2000;
    height: 100%;
    width: 70%;
    position: absolute;
    right: -100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    transition: right 0.2s;
}
.menuContent.focused {
    right: 60px;
}
.menuContent h1 {
    margin-bottom: 30px;
}
.menuSubContent {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.discoverContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchContainer {
    width: 100%;
    padding-bottom: 10px;
    position: relative;
}
.searchContainer input {
    font-size: 20px;
    margin-bottom: 10px;
}
.searchContainer button {
    position: absolute;
    top: 30px;
    right: 0px;
    transition: opacity 0.2s;
}
.searchContainer .autofill {
    position: absolute;
    top: 30px;
    font-size: 20px;
    color: silver;
    z-index: -1;
}
.tendencyContainer {
    aspect-ratio: 2/1;
    width: 100%;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}
.tendencyCover {
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    transition: background-color 0.2s;
}
.tendencyCover:hover {
    cursor: pointer;
}
.tendencyCover.selected {
    background: none;
}
.tendencyContainer h2 {
    white-space: nowrap;
    font-size: 30px;
}
.tendencyContainer .close {
    aspect-ratio: 1/1;
    height: 15%;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background: url("./img/dark_mode/plus.png");
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center !important;
    background-size: contain !important;
    filter: brightness(200%);
    transform: rotate(45deg);
}
.resultsContainer{
    display: flex;
    flex-direction: column-reverse;
}
.results {
    aspect-ratio: 2/1;
    height: 100%;
    width: 100%;
    position: relative;
}
.result {
    aspect-ratio: 1/1;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
}
.result:nth-child(1) {
    z-index: 18;
    position: absolute;
    left: 0%;
}
.result:nth-child(2) {
    z-index: 16;
    position: absolute;
    left: 25%;
}
.result:nth-child(3) {
    z-index: 14;
    position: absolute;
    left: 37.5%;
}
.result:nth-child(4) {
    z-index: 12;
    position: absolute;
    left: 43.75%;
}
.result:nth-child(5) {
    z-index: 10;
    position: absolute;
    left: 46.875%;
}
.result:nth-child(6) {
    z-index: 8;
    position: absolute;
    left: 50%;
}

.profileContainer.own {
    aspect-ratio: 2/1;
    width: 100%;
}
.userInfo.own {
    padding: 5px;
}
.userOptionsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.userOption {
    aspect-ratio: 1/1;
    width: 50%;
    flex-shrink: 0;
    filter: brightness(50%);
    transition: filter 0.2s;
}
.userOption:hover {
    cursor: pointer;
    filter: brightness(100%);
}
.userOption a {
    opacity: 0;
    display: block;
    height: 100%;
    width: 100%;
}

#carouselsContainer {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity 0.2s, margin-top 0.8s ease;
    /*-webkit-mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
    mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));*/
}
#carouselsContainer.intro {
    margin-top: 75vh;
    pointer-events: none;
    scroll-snap-align: start;
}
#carouselsContainer.preIntro {
    margin-top: 100vh;
}
#carouselsContainer.closed, #carouselsContainer.closed.darkened {
    opacity: 0;
}
#carouselsContainer.darkened, #searchResultsContainer.darkened {
    opacity: 0.5;
}
#searchResultsContainer {
    position: absolute;
    top: 0;
    z-index: -2000;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity 0.2s;
   /*-webkit-mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
    mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));*/
}
#searchResultsContainer.open {
    z-index: 400;
    animation-name: introSlide4;
    animation-duration: 0.4s;
}
#introductionContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
#introductionContainer h5 {
    margin-top: -10vw;
    margin-bottom: 2vw;
    margin-left: -5vw;
    font-size: 22vw;
    color: rgba(255,255,255,0.1);
    animation-name: introSlide;
    animation-duration: 0.8s;
}
#introductionContainer div {
    display: flex;
    height: 15vw;
}
#introductionContainer .introLogo {
    aspect-ratio: 1/1;
    height: 100%;
    margin-left: 20vw;
    margin-right: 2vw;
    background-image: url("./img/dark_mode/Logo.png");
    background-position: center;
    background-size: contain;
    animation-name: introOpacity;
    animation-duration: 0.4s;
}
#introductionContainer p {
    width: 55vw;
    font-size: 3vw;
    animation-name: introSlide2;
    animation-duration: 2.2s;
}

.carouselContainer {
    scroll-snap-align: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    transition: opacity 0.2s;
}
.panelContainer {
    aspect-ratio: 1/1;
    scroll-snap-align: start;
    height: 100%;
    flex-shrink: 0;
}
.panelAContainer {
    background-position: center !important;
    background-size: cover !important;
}
.panelACover {
    height: 100%;
    width: 100%;
    background-color: rgba(180, 180, 180, 0.5);
    transition: opacity 0.2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.panelACover:hover {
    cursor: pointer;
}
.badge {
    height: 100%;
    padding: 20px;
    position: relative;
}
.badge h2 {
    font-size: 100px;
}
.addFavorite {
    aspect-ratio: 1/1;
    height: 10%;
    background: url("./img/dark_mode/favorite.png");
    background-position: center !important;
    background-size: contain !important;
    opacity: 0.25;
    margin-top: 40px;
    position: absolute;
    right: 2%;
    bottom: 20px;
    transition: transform 0.2s;
}
.addFavorite:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.addFavorite.selected {
    background: url("./img/dark_mode/favorite_selected.png");
    opacity: 1;
}
.addCollectionIcon {
    aspect-ratio: 1/1;
    height: 10%;
    background: url("./img/dark_mode/plus.png");
    background-position: center !important;
    background-size: contain !important;
    opacity: 1;
    margin-top: 40px;
    position: absolute;
    left: 1%;
    bottom: 20px; 
    transition: transform 0.2s;
}
.addCollectionIcon:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.addCollectionIcon.focus {
    transform: rotate(45deg);
}.addCollectionIcon.selected {
    background: url("./img/dark_mode/plus_selected.png");
}
.addCollectionContainer {
    height: 10%;
    width: 75%;
    position: absolute;
    left: 12%;
    bottom: 20px;
    display: flex;
    overflow-x: scroll;
    animation-name: introSlide3;
    animation-duration: 0.4s;
    -webkit-mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
    mask: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
}
.collectionSelect {
    aspect-ratio: 2/1;
    height: 100%;
    padding: 5px;
    background-color: rgba(0,0,0,0.25);
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
}
.collectionSelect h2 {
    font-size: 15px;
}
.collectionSelect button {
    position: absolute;
    bottom: 7px;
    right: 5px;
    font-size: 15px;
}
.collectionSelect input {
    font-size: 15px;
}
.collectionSelect.added {
    background-color: rgba(0,0,0,0.75);
}
.collectionSelect.added h2 {
    opacity: 1;
    color: #f7e7ce;
}
.collectionSelect:last-child {
    aspect-ratio: 1/1;
    height: 100px;
    background: none;
}

.panelBContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.detailPicsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.detailPicsContainer.six .detailPic:nth-child(1), .detailPicsContainer.six .detailPic:nth-child(2) {
    height: 50vh;
}
.detailPic {
    aspect-ratio: 1/1;
    height: 25%;
    filter: brightness(50%);
    flex-shrink: 0;
    background-position: center !important;
    background-size: cover !important;
    transition: filter 0.8s;
}
.detailPic:hover {
    cursor: pointer;
    filter: brightness(100%);
}
.zoomedPic {
    aspect-ratio: 1/1;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 100%;
    z-index: 5000;
    background-position: center !important;
    background-size: cover !important;
    opacity: 0;
    transition: opacity 0.4s;
}
.zoomedPic:hover {
    cursor: pointer;
}
.zoomedPic.opened {
    opacity: 1;
    pointer-events: all;
}
.projectMemoir {
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: scroll;
}
.projectMemoir p {
    padding: 10px;
    font-style: italic;
    color: silver;
    line-height: 200%;
}
.projectMemoir p b {
    color: white;
    font-size: 200%;
}
.ghostDiv {
    height: 100%;
    scroll-snap-align: end;
    flex-shrink: 0;
}

.portfolioContainer {
    aspect-ratio: 1/1;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    position: relative;
    overscroll-behavior-y: none;
}
.portfolioContainer .carouselContainer {
    pointer-events: none;
}
.portfolioContainer.locked {
    overscroll-behavior-x: none;
}
.portfolioContainer.locked .carouselContainer {
    pointer-events: all;
}
.profileContainer {
    height: 50%;
    width: 100vh;
    display: flex;
    scroll-snap-align: center;
}
.profileContainer .aboutAuthor {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow-y: scroll;
}
.profileContainer .aboutAuthor p {
    height: fit-content;
    width: 50%;
    padding: 10px;
    font-style: italic;
    color: silver;
    line-height: 200%;
}
.profilePic {
    aspect-ratio: 1/1;
    height: 100%;
    background-color: rgba(255,255,255,0.25);
    background-size: cover;
    background-position: center;
}
.userInfo {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    text-transform: capitalize;
}
.userLocation {
    position: absolute;
    bottom: 10px;
}
.userInfo.carousel h2:nth-child(1) {
    font-size: 4em;
    opacity: 0.5;
}
.userInfo.carousel h2:nth-child(2) {
    font-size: 2em;
    opacity: 0.5;
}
.userInfo.carousel h2:nth-child(3) {
    font-size: 3em;
    opacity: 0.5;
}
.ownProjectsContainer {
    filter: brightness(75%);
    transition: filter 0.2s;
}
.ownProjectsContainer.opened {
    filter: brightness(100%);
}
.ownProjectsContainer .securityDiv {
    width: 0;
}
.ownProjectsContainer.opened .securityDiv {
    width: 10%;
}
.pill {
    display: none;
    z-index: 500;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 40px;
    width: fit-content;
    padding: 0 10px;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(180, 180, 180, 0.5);
}
.pill h1 {
    font-size: 20px;
    margin-left: 5px;
}
.pill.opened {
    display: flex;
}

.projectContainer {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding: 5px;
    background-position: center !important;
    background-size: cover !important;
    filter: brightness(75%);
    transition: filter 0.2s;
}
.projectContainer h2 {
    font-size: 30px;
}
.projectContainer button {
    opacity: 0.75;
}
.projectContainer:hover {
    filter: brightness(100%);
}
.projectContainer.hint {
    filter: brightness(175%);
}

.editButton {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.addProjectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-position: center !important;
    background-size: cover !important;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.addProjectContent {
    position: relative;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    scroll-snap-align: center;
}
.addProject1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center !important;
    background-size: 50% !important;
    padding: 5px;
}
.addProject1:hover {
    cursor: pointer;
}
.addProject1.reload {
    background-image: url("./img/dark_mode/refresh.png");
}
.addProject1.reload h2, .addProject1.reload p {
    display: none;
}
.addProject2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.addProject3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.addProject3 p {
    position: absolute;
    top: 10px;
    right: 5px;
}
.addProjectTitle {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.addProjectContent p, .addProjectContent span {
    text-align: center;
}
.addNewProjectPicturesDisplayContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.addNewProjectPicturesDisplay {
    aspect-ratio: 1/1;
    height: 25%;
    flex-shrink: 0;
    background-position: center !important;
    background-size: cover !important;
}
.addNewProjectPicturesDisplay:hover {
    cursor: pointer;
}
.addNewProjectPicture {
    background-position: center !important;
    background-size: 50% !important;
}
.addNewProjectPicture:hover {
    cursor: pointer;
}
.loadingIcon {
    height: 25px;
    width: 25px;
    background: url("./img/dark_mode/loading.gif");
    background-position: center !important;
    background-size: 300% !important;
}
.formFooter {
    height: 100%;
    position: absolute;
    left: 5px;
    bottom: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formFooter button {
    margin-top: 0 !important;
    margin-bottom: 5px;
}
.submitFooter {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 5px;
    z-index: 1000;
}
.submitCover {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.configProfilePic {
    aspect-ratio: 1/1;
    width: 100%;
    background-color: rgba(255,255,255,0.25);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.configProfilePic:hover {
    cursor: pointer;
}
.configProfilePic.loading {
    background-image: url("./img/dark_mode/loading.gif");
    background-position: center !important;
    background-size: 50% !important;
}
.textareaCounter {
    display: block;
    padding-right: 5px;
    text-align: right;
    color: silver;
    margin-top: -20px;
}
.textareaCounter.max {
    color: yellow;
}
.discoverContainer input, .configContainer input, .configContainer select, .configContainer textarea, .configContainer button, .userContainer input, .userContainer button, .userContainer textarea {
    margin-top: 30px;
}
.configSave {
    display: flex;
    align-items: flex-end;
}

.helpLink {
    margin-top: 20px;
}
.helpLink:hover {
    cursor: pointer;
}
.helpAlert {
    font-weight: 500;
    margin-top: 20px;
}


.exportedPortfolioContainer {
    height: 100vh;
    width: 100%;
}
.exportedPortfolioContainer .ownProjectsContainer {
    filter: brightness(100%);
}
.exportedPortfolioContainer .carouselContainer {
    pointer-events: all;
}


@media (max-aspect-ratio: 3/2) and (min-aspect-ratio: 1/1) {

    .menuContainer {
        width: 30%;
    }

    .profileContainer.own {
        aspect-ratio: 1/1;
        width: 100%;
        flex-direction: column;
    }
    .profilePic.own {
        width: 100%;
    }
    .userInfo.own {
        height: 100%;
        width: 100%;
    }
}

@media (max-aspect-ratio: 1/1) {
    * {
        font-size: 32px;
    }
    h1 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 40px;
    }

    .arrowContainer {
        padding: 20px;
    }
    .arrowContainer-up:hover > .arrow-up {
        border-bottom: 20px solid rgba(255,255,255,0.5);
    }
    .arrow-up {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    
        border-bottom: 20px solid rgba(255,255,255,0.5);
        margin-top: -1%;
    }
    .arrow-up:hover {
        border-bottom: 20px solid rgba(255,255,255,0.5);
    }
    .arrowContainer-down:hover > .arrow-down {
        border-top: 20px solid rgba(255,255,255,0.5);
    }
    .arrow-down {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    
        border-top: 20px solid rgba(255,255,255,0.5);
        margin-bottom: -1%;
    }
    .arrow-down:hover {
        border-top: 20px solid rgba(255,255,255,0.5);
    }
    .arrow-left {
        margin-right: 10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
    
        border-right: 20px solid rgba(255,255,255,0.5);
        transform: translateY(4px); 
    }
    .arrow-left:hover {
        border-right: 20px solid rgba(247,231,206,1);
    }

    .logoContainer {
        top: 20px;
        height: 120px;
        width: 90px;
    }

    #carouselsContainer {
        padding-top: 25vh;
        padding-bottom: 25vh;
        -webkit-mask: none;
        mask: none;
    }
    #searchResultsContainer {
        padding-top: 25vh;
        padding-bottom: 25vh;
        -webkit-mask: none;
        mask: none;
    }

    .menuContainer {
        opacity: 0;
        width: 100%;
        background: none;
        overflow-x: hidden;
        filter: brightness(100%);
        transition: opacity 0.2s;
    }
    .menuContainer.opened {
        opacity: 1;
    }
    .menuContainer.opened .menuContent {
        pointer-events: all;
        right: 120px;
    }

    .menuIconsContainer {
        width: 120px;
    }
    .menuIcon {
        height: 70px;
        width: 70px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .menuContent {
        opacity: 1;
        width: 80%;
    }

    .searchContainer input {
        font-size: 50px;
    }
    .searchContainer button {
        top: 60px;
    }
    .searchContainer .autofill {
        top: 60px;
        font-size: 50px;
    }

    .tendencyContainer h2 {
        font-size: 60px;
    }

    .addProjectTitle {
        font-size: 64px;
        font-weight: 700;
    }

    .projectContainer {
        margin-top: 40px;
    }

    .projectContainer h2 {
        font-size: 60px;
    }

    .loadingIcon {
        height: 50px;
        width: 50px;
    }

    .carouselContainer {
        height: 100vw;
    }

    .collectionSelect h2 {
        font-size: 30px;
    }

    .profileContainer {
        width: 100%;
    }

    .userInfo.carousel h2:nth-child(1) {
        font-size: 2em;
    }
    .userInfo.carousel h2:nth-child(2) {
        font-size: 1em;
    }
    .userInfo.carousel h2:nth-child(3) {
        font-size: 1.5em;
    }

    .pill {
        top: 28vh;
        height: 80px;
        border-radius: 40px;
        padding: 0 20px;
    }
    .pill h1 {
        margin-bottom: 0;
        font-size: 40px;
    }

    .discoverContainer input, .configContainer input, .configContainer select, .configContainer textarea, .configContainer button, .userContainer input, .userContainer button, .userContainer textarea {
        margin-top: 60px;
    }

    .helpLink {
        margin-top: 40px;
    }


    .exportedPortfolioContainer .portfolioContainer {
        aspect-ratio: 0;
        padding-bottom: 25vh;
    }
    .exportedPortfolioContainer .profileContainer {
        aspect-ratio: 2/1;
        height: 50vw;
    }
}